body,
html {
  /* height:100%; */

  margin: 0px;
  padding: 0px;
}

#app{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: hsl(100, 5%, 50%);
}

ul{
  display: flex;
  flex-direction: row;
}

li{
  list-style-type: none;
  margin-right: 25px;
}

main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px;
  margin: 5px;
}

.store-item{
  background-color: hsl(100, 15%, 50%);
  border-width: 2px;
  border-style: solid;
  border-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img{
  border-width: 2px;
  border-style: solid;
  border-color: black;
  height: 100px;
  width: 100px;  
}

.span-details{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}


footer{
  display: flex;
  background-color: hsl(100, 5%, 50%);
  margin-top: auto;
  justify-content: center;
}
